@import "config.less";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font: @font;
    color: var(--dark-text);
    background-color: var(--lightgray);

    display: flex;
    flex-flow: column nowrap;
}

*, *:after, *:before {
    box-sizing: border-box;
}

.no-top-margin {
    margin-top: 0;
}
.no-bottom-margin {
    margin-bottom: 0;
}
.pre-wrap {
    white-space: pre-wrap;
}

// TODO REDO THIS WITH base.less .site-link
.a-as-btn, .site-link {
    text-decoration: none;
    transition: all .2s ease;
}

.btn-a-container {
    --margin-size: .25em;
    margin: ~"calc(-1 * var(--margin-size))";
}

.a-as-btn {
  display: inline-block;

  margin: var(--margin-size);
  padding: .5em 1em;

  background-color: var(--base-color);
  color: var(--lightgray);

  border-radius: 3px;

  &:hover {
    background-color: var(--lighter2);
  }
  &:visited {
     background-color: var(--lighter1);
  }
}


.site-link {
    color: var(--base-color);
    &:active {
        color: var(--darker2);
    }
    &:visited {
        color: var(--base-color);
    }
    &:hover {
        color: var(--complement2);
        text-decoration: underline;
    }
}


@import "header.less";
//@import "nav.less";
@import "main.less";
@import "footer.less";
@import "mediaqueries.less";
