footer {
    text-align: center;
    overflow: hidden;

    background-color: @header-color;
    background-image: url(../img/hexagons.svg), linear-gradient(to bottom, @darker1 0%, @header-color 100%);
    //background-attachment: fixed;

    flex-shrink: 0;

    width: 100%;
    margin: 0;
    padding: @double @half;

    & > p {
        color: @light-text;
        font-weight: light;
    }
}
