header {
    text-align: center;
    overflow: hidden;

    background-color: var(--header-color);
    background-image: url(./img/hexagons.svg), linear-gradient(to bottom, var(--header-color) 0%, var(--darker1) 100%);
    //background-attachment: fixed;

    flex-shrink: 0;

    width: 100%;
    margin: 0;
    padding: (2 * @double) @half;

    & > h1 {
        color: var(--light-text);
        font-weight: bold;
    }
}
