header {
    text-align: center;
    overflow: hidden;

    background-color: @header-color;
    background-image: url(../img/hexagons.svg), linear-gradient(to bottom, @header-color 0%, @darker1 100%);
    background-attachment: fixed;

    width: 100%;
    margin: 0;
    padding: (2 * @double) @half;

    & > h1 {
        color: @light-text;
        font-weight: bold;
    }
}
