main {
    //
}

article {
    padding: @double @half;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    background-color: @lightgray;

    &:not(.article-active) {
        //display: none;
    }
    &:nth-of-type(even) {
        background-color: @other-lightgray;
        background-image: linear-gradient(to bottom, @lightgray 0%, @other-lightgray 10%, @other-lightgray 90%, @lightgray 100%);
    }
}

.card {
    background-color: @fullwhite;
    flex: .25 1 500px;

    padding: @normal;
    margin: @half;

    .z-depth(2);
}
