main {
    //
    flex: 1 0 auto;
    .z-depth(2);
}

article {
    padding: @double @half;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;

    max-width: 1280px;
    margin: auto;

    background-color: var(--lightgray);
}

.card {
    background-color: var(--fullwhite);
    flex: .25 1 500px;

    padding: @normal;
    margin: @half;

    .z-depth(2);
}

// TODO REDO THIS WITH base.less .site-link
.a-as-btn a {
  display: inline-block;
  padding: .5em 1em;
  background-color: var(--lighter1);
  color: var(--lightgray);

  border-radius: 3px;

  text-decoration: none;

  transition: background-color .2s ease;

  &:hover {
    background-color: var(--lighter2);
    text-decoration: inherit;
    color: var(--lightgray);
  }

}
.a-as-btn a:not(:first-child) {
  margin-left: .5em;
}

.lifeline {
    //color: var(--light-text);

    margin: @half 0;
    padding: @half;

    border-radius: 3px;

    background-color: var(--lightgray);

    transition: all .5s ease;

    .z-depth(2);

    &:hover {
        background-color: var(--other-lightgray);
        border-left-width: @normal;
    }
    &:first-of-type {
        margin-top: @normal;
    }
    &:last-of-type {
        margin-bottom: 0;
    }
}

.ll-personal {
    //background-color: var(--ll-personal);
    border-left: @half solid var(--ll-personal);
}
.ll-work {
    //background-color: var(--ll-work);
    border-left: @half solid var(--ll-work);
}
.ll-school {
    //background-color: var(--ll-school);
    border-left: @half solid var(--ll-school);
}
